/*Global styles */

#rockets{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


.rocket-cards{
  width: 40%;
  margin-bottom: 40px;
  
}

.card{
  box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 40px 24px;
  
}

.content-card{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-img{
  width: 100%;
  max-height: 515px;
}

.name h2{
  font-size: 2rem;
  margin-bottom: 24px;
  color: #3a3a3a;
  text-align: center;
  margin-top: 16px;
  font-weight: 600;
}

.info-short{
  font-size: 1.2rem;
  margin: 24px 16px;
  line-height: 40px;
  color: #3a3a3a;
  
}

.items-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.items-center h3{
  font-weight: 600;
}

.description-trigger{
  background-color: #ededed;
  color: #3a3a3a;
  padding: 16px;
  float: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.description-trigger:hover{
  background-color: #dbdbdb;
}

.description-content{
  padding: 16px;
  font-size: 1.4rem;
  line-height: 40px;
  background-color: #ededed;
  color: #3a3a3a;
}

.hidden{
  display: none;
  opacity: 0;
}

@keyframes loader {
  to {transform: rotate(360deg);}
}
 
.loader:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #394D71;
  border-bottom-color: #394D71;
  animation: loader .8s ease infinite;
}




/*mobile styles*/
@media only screen and (max-width: 768px) {
  #rockets{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    
    
  }

  .card{
    width: 100%;
    margin: 0 auto;
    
  }


  .rocket-cards{
    width: 100%;
    padding-top: 40px;
    
    
  }  
  
  
}


    
/*desktop styles*/
@media only screen and (min-width: 1024px) and (max-width: 1450px){
  
  #rockets{
  width: 100%;
  justify-content: space-evenly;
  }

  .rocket-cards{
    width: 40%;
  }
  
  .card-img{
    max-height: 175px;
  }
  
}

/*big desktop styles*/
@media only screen and (min-width: 1451px){
  #rockets{
    justify-content: space-evenly;
  }
  
  .card-img{
    max-height: 249px;
  }
}